// Place all the styles related to the flight controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//@import url("app\assets\stylesheets\flight-header.css");


.form-control{
margin-bottom: 20px;
}
#backg00{
display:block;
margin-bottom: 20px;
}
#searchh1{
  text-align: center;
  margin-bottom: 20px;
  color: wheat;
}
#searchp0{
  color: whitesmoke;
}


.transparent00{
  background: -webkit-linear-gradient(left, rgba(0,166,90,.5), rgba(20,111,204,1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(0,166,90,.5), rgba(20,111,204,1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(0,166,90,.5), rgba(20,111,204,1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(0,166,90,.5), rgba(20,111,204,1)); /* Standard syntax (must be last) */
}

.transparent0{
    background: linear-gradient(117deg,#0069ff,#00cd8d);
    background-image: linear-gradient(117deg, rgb(0, 105, 255), rgb(0, 205, 141));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

.transparent1 {
    background:rgba(0,0,0,0.3);
}

.intro-header {
    margin-bottom: 0px;
}
.captiondiv{


}
.thumb {
    margin-bottom: 100px;


     height: 160px;

}


.leftcap {
  width: 70%;
  float: left;
  background-color: yellow;
  padding-left: 5px;

}
 .rightcap {

  width: 30%;
  float: right;
  background-color: yellow;
  text-align: center;
  padding-right:5px;
  padding-bottom:3px;

}
//intros
