// Place all the styles related to the flight controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//@import url("app\assets\stylesheets\flight-header.css");


#backg01, #backg02, #backg03{
margin-bottom: 20px;
}
#backg00{
display:block;
margin-bottom: 20px;
}

#searchh1 {
    font-size: 42px;
    text-align: center;
    color: #FFFFFF;
    line-height: 69px;
    margin: 0 0 24px;
    font-weight: 900;
}
#searchdeal{
  margin: 20px 0 20px 0;
  width: 27.8rem;
}
@media (min-width: 991px) {
#searchh1 {
    font-size: 58px;

}
}


#searchp0{
  color: whitesmoke;
}

.text-style-p{
    font-size: 16px;
}

.overflow {
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
}


#myTab > .active > a, #myTab > .active > a:hover,  #myTab > .active > a:focus {

    border-top-width: thick;
    border-top-color: coral;
}

.controls > label {
        display: block;
 }


.transparent00{
  background: -webkit-linear-gradient(left, rgba(0,166,90,.5), rgba(20,111,204,1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(0,166,90,.5), rgba(20,111,204,1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(0,166,90,.5), rgba(20,111,204,1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(0,166,90,.5), rgba(20,111,204,1)); /* Standard syntax (must be last) */
}

.transparent0{
    background: linear-gradient(117deg,#0069ff,#00cd8d);
    background-image: linear-gradient(117deg, rgb(0, 105, 255), rgb(0, 205, 141));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

.transparent1 {
    background:rgba(0,0,0,0.3);
}

.intro-header {
    margin-bottom: 0px;
}
.captiondiv{


}
.thumb {
    margin-bottom: 100px;


     height: 160px;

}


.leftcap {
  width: 70%;
  float: left;
  background-color: yellow;
  padding-left: 5px;

}
 .rightcap {

  width: 30%;
  float: right;
  background-color: yellow;
  text-align: center;
  padding-right:5px;
  padding-bottom:3px;

}
//intros

footer .copyright{
  font-family: Lora,'Times New Roman',serif;
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}

.intro-header {
  background-color: #777777;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }
}

.intro-header .site-heading,
.intro-header .page-heading, footer .copyright{
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 37px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 16px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
  .intro-header .site-heading .subheading,
  .intro-header .page-heading .subheading {
    font-size: 24px;
  }

}
.intro-header .post-heading h1 {
  font-size: 35px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header .post-heading .meta {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.intro-header .post-heading .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}
//chart

.slides-pagination {
    position: absolute;
    z-index: 3;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding-right: 3rem;
}
.slides-pagination a {
    border: 2px solid #222;
    border-radius: 15px;
    border-color: white;
    width: 15px;
    height: 15px;
    margin: 5px 2px;

    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=);
    box-shadow: 0 1px 1px black;
    overflow: hidden;
    text-indent: -100%;
}
.slides-pagination a.current {
    background: white;
}
