
        <div class="container">
            <div class="row"  style="margin-bottom:4rem">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                        <div class="text-center" style="margin-top:10rem; margin-bottom:25px ">
                    <h2 class="section-heading" >What we offer</h2>
                  <!--  <hr class="light">  -->
                        </div>
                    <ul id="myTab" class="nav nav-tabs nav-justified">
                        <li class="active"><a href="#service-one" data-toggle="tab" aria-expanded="true"><i class="fa fa-3x fa-thumbs-o-up text-primary sr-icons" data-sr-id="3" style="color:#5fba7d;"></i> <h3> Cheap flight deals </h3></a>
                        </li>

                        <li class=""><a href="#service-two" data-toggle="tab" aria-expanded="false"><i class="fa fa-3x fa-search text-primary sr-icons" data-sr-id="3" style="color:#5fba7d;"></i> <h3> Flight finder </h3></a>
                        </li>

                    </ul>


                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="service-one">
                          <h3>Cheap flight deals</h3>
                            <p class="text-faded text-style-p"> We search for cheap international flight deals 24/7 non stop. There are many reasons for an airline flight
                              to go on a fire sale - severe supply demand mismatch for a particular time frame, currency conversion mishaps, simple
                              clerical mistakes, aggressive airline yield management to name a few. </p>
                            <p class="text-faded text-style-p" > As soon as we find a particularly good deal we post it here. We currently search for flights all
                              around the world originating from USA, Canada and Europe. We primarily focus on pricey international flights which have the
                               potential for large discount. You can make big savings using this site wisely. For example lets say you are going on a trip
                               from US to Europe. Your destination is London. All the flights to London are going for $800. Luckily a flight to Amsterdam
                                pops up for $300 on our site. You can fly to Amsterdam first. Then either take a flight($80) or a bus($30) to London. More
                                than $400 savings stays in your pocket for fun and entertainment. </p>
                        </div>
                        <div class="tab-pane fade" id="service-two">
                                <h3>Flight finder</h3>
                            <p class="text-faded text-style-p"> Flight finder is a search tool that can help you to find a reasonably priced flight
                               suitable for your trip with less effort. At first it may seem little odd to initiate the search with trip length
                               or duration instead of particular dates. Once you get a hold of it, you will love it. Instead of searching flights
                               for a particular date it gathers all available flight data with the given trip length to better understand
                               the price movement and create a chart for clear visualization of the price dynamics. The chart will give you a birds eye view
                               of the price info for the whole year. You can easily see how the price fluctuates wildly just within a few days. You can wiggle
                                around and select a specific date for your flight from the chart avoiding the price spikes. </p>

                        </div>

                    </div>




                </div>
            </div>
        </div>
